/* raleway and lato font-family imported  */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Pacifico&family=Raleway:wght@600;700&display=swap');

:root {
    --color-red: #f87e63;
    --color-facebook: #4267B2;
    --color-linkedin: #0072b1;
    --color-orange: #ffc91c;
    --color-purple: #743dd9;
    --color-gradient-orange: linear-gradient(to right, #ffa231, #ffc91c);
    --color-gradient-blue: linear-gradient(to right, #3a99f7, #25c0e1);
    --color-gradient-purple: linear-gradient(to right, #7d2fd7, #5963de);
}

html {
    font-size: 16px;
}

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
}

/* nav section area  */
.logo {
    font-family: 'Pacifico', cursive;
    font-size: 3rem;
    font-weight: 400;
    text-decoration: none;
    color: var(--color-red);
    background-color: transparent;
}

.link-list>li {
    font-size: 1.25rem;
}

.home-link:hover {
    color: var(--color-red);
}

.facebook-link:hover {
    color: var(--color-facebook);
}

.linkedin-link:hover {
    color: var(--color-linkedin);
}

/*hero area style*/
.header-section {
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top left;
}

.hero-text {
    padding: 5rem;
    width: 50%;
}

.hero-heading {
    font-size: 5rem;
}

.hero-heading span {
    color: var(--color-orange);
}

.hero-title {
    font-size: 4rem;
}

.all-btn {
    background: var(--color-gradient-orange);
    font-size: 2rem;
}

.hire-btn:hover {
    background: var(--color-gradient-blue);
}

/* dream big section  */
.developer-btn:hover {
    background: var(--color-gradient-purple);
}

.my-image {
    padding: 32px;
    margin-top: 32px;
    width: 50%;
}

.dream-area {
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right top;
}